.table-dd{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  max-height: 160px;
  overflow-x: scroll;
  color: white;
  grid-column-gap: 24px;
}

.table-dd::-webkit-scrollbar{
  width: 0;
}

.table-dd td.today {
  background-color: #007bff;
  color: white;
}

.weekday-card{
  color: white;
  list-style: none;
  width: 100px;
  height: 120px;
  border-radius: 50%;
  border: 1px dashed tomato;
  border-color: linear-gradient(red, blue, green);
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  text-align: center;
  line-height: 100px;
}
