
.container-dashboard {
  background-image: url("image.png");
  height: 852px;
}

.backgr {
  height: 300px;
  background-position: center;
}


ul{
  list-style: none;
}

.habit-card{
  display: inline-block;
  width: 300px;
  background-color: rgba(0, 255, 255, 0.586);
  border-radius: 12px;
  padding: 8px;
  margin-top: 16px;
  transition: 1s;

}

.habit-card:hover{
  transition: 1s;
  background-color: aqua;
}

