.container-dashboard {
  background-color: white;
  height: 852px;
}

.backgr {
  background-image: url("https://i.pinimg.com/564x/d3/a2/12/d3a212d452fba1879c40c4ccdf657d29.jpg");
  height: 300px;
  border-bottom-right-radius: 50%;
  background-position: center;
}


