body {
  height: 100vh;
}

@media only screen and (max-width: 767px) {
  body {
    background-size: 100% 100%;
  }
}

.page {
  background-color: #131313;
  padding: 24px;
  color: whitesmoke;
  height: 900px;
  padding: 0;
}

.content{
  padding: 24px;
}
