
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <blockquote class="blockquote">
          <p class="mb-0">"The only way to do great work is to love what you do."</p>
          <footer class="blockquote-footer">Steve Jobs</footer>
        </blockquote>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <blockquote class="blockquote">
          <p class="mb-0">"Believe you can and you're halfway there."</p>
          <footer class="blockquote-footer">Theodore Roosevelt</footer>
        </blockquote>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <blockquote class="blockquote">
          <p class="mb-0">"Success is not final, failure is not fatal: It is the courage to continue that counts."</p>
          <footer class="blockquote-footer">Winston Churchill</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
