

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <blockquote class="blockquote">
          <p class="mb-0">"Your habits will determine your future"</p>
          <footer class="blockquote-footer">Jack Canfield</footer>
        </blockquote>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <blockquote class="blockquote">
          <p class="mb-0">"Motivation is what gets you started, habit is what keeps you going."</p>
          <footer class="blockquote-footer">Jim Ryun</footer>
        </blockquote>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <blockquote class="blockquote">
          <p class="mb-0">"Habits are the compound interest of self-improvement"</p>
          <footer class="blockquote-footer">James Clear</footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
