<div class = "create-card">
  <div class = "create-card-pic">

  </div>
  <div class = "create-card-title">
    <p>Habit Title</p>
  </div>
  <div class = "create-card-bio">
    <p>habit details</p>
  </div>
  <div class = "create-star">
  </div>
</div>
