<div class="page">
  <%= render "shared/footer" %>
  <br>
    <%# monthly calendar where you're listing all habits for that person as a link to that habits show page %>

    <h1 class="cal">Calendar</h1>
    <div class="date-box">
        <%= month_calendar(events: @habitslots) do |date, habitslots| %>
        <% link_to schedule_today_path(date) do %>
          <%= date.day %>
        <% end %>
        <% end %>

    </div>

    <%# button to link to todays schedule %>
</div>
