<%= render "shared/navbar"%>
<%= render "shared/footer" %>

<div class="settings">
    <h1 class="settings-title"> <strong>Settings</strong></h1>
<%# <div class="button">
<a class="btn btn-primary" href="/camps/1122/challenges?path=06-Projects%2F04-Background-jobs"><strong>Privacy Policy</strong></a>
<a class="btn btn-primary" href="/camps/1122/challenges?path=06-Projects%2F04-Background-jobs"><strong>Terms of Services</strong></a>
<a class="btn btn-primary" href="/camps/1122/challenges?path=06-Projects%2F04-Background-jobs"><strong>Subcription Terms</strong></a>
<a class="btn btn-primary" href="/camps/1122/challenges?path=06-Projects%2F04-Background-jobs"><strong>Cancel Subscription</strong></a>
<a class="btn btn-primary" href="/camps/1122/challenges?path=06-Projects%2F04-Background-jobs"><strong>Log Out</strong></a> %>
<button class="cds-178 cds-149 cds-151 css-to9khb cds-160 cds-button-disableElevation card-settings" tabindex="0" type="submit" data-e2e="enroll-button" data-track="true" data-track-app="xdp_v1" data-track-page="xdp" data-track-action="[object Object]" data-track-component="enroll_button" style="background-color: rgb(232 229 219); color: rgb(31, 31, 31); font-weight: bold; border-color: transparent; height: 71px; width: 90%; margin:10px;"><span class="cds-150 cds-button-label"><div><span data-test="enroll-button-label">Privacy Policy</span><div class="startdate rc-StartDateString font-xs" data-test="start-date-string"></div></div></span></button>
<button class="cds-178 cds-149 cds-151 css-to9khb cds-160 cds-button-disableElevation card-settings" tabindex="0" type="submit" data-e2e="enroll-button" data-track="true" data-track-app="xdp_v1" data-track-page="xdp" data-track-action="[object Object]" data-track-component="enroll_button" style="background-color: rgb(232 229 219); color: rgb(31, 31, 31); font-weight: bold; border-color: transparent; height: 71px; width: 90%; margin:10px;"><span class="cds-150 cds-button-label"><div><span data-test="enroll-button-label">Terms of Services</span><div class="startdate rc-StartDateString font-xs" data-test="start-date-string"></div></div></span></button>
<button class="cds-178 cds-149 cds-151 css-to9khb cds-160 cds-button-disableElevation card-settings" tabindex="0" type="submit" data-e2e="enroll-button" data-track="true" data-track-app="xdp_v1" data-track-page="xdp" data-track-action="[object Object]" data-track-component="enroll_button" style="background-color: rgb(232 229 219); color: rgb(31, 31, 31); font-weight: bold; border-color: transparent; height: 71px; width: 90%; margin:10px;"><span class="cds-150 cds-button-label"><div><span data-test="enroll-button-label">Subcription Terms</span><div class="startdate rc-StartDateString font-xs" data-test="start-date-string"></div></div></span></button>
<button class="cds-178 cds-149 cds-151 css-to9khb cds-160 cds-button-disableElevation card-settings" tabindex="0" type="submit" data-e2e="enroll-button" data-track="true" data-track-app="xdp_v1" data-track-page="xdp" data-track-action="[object Object]" data-track-component="enroll_button" style="background-color: rgb(232 229 219); color: rgb(31, 31, 31); font-weight: bold; border-color: transparent; height: 71px; width: 90%; margin:10px;"><span class="cds-150 cds-button-label"><div><span data-test="enroll-button-label">Cancel Subscription</span><div class="startdate rc-StartDateString font-xs" data-test="start-date-string"></div></div></span></button>
<button class="cds-178 cds-149 cds-151 css-to9khb cds-160 cds-button-disableElevation card-settings" tabindex="0" type="submit" data-e2e="enroll-button" data-track="true" data-track-app="xdp_v1" data-track-page="xdp" data-track-action="[object Object]" data-track-component="enroll_button" style="background-color: rgb(232 229 219); color: rgb(31, 31, 31); font-weight: bold; border-color: transparent; height: 71px; width: 90%; margin:10px;"><span class="cds-150 cds-button-label"><div><span data-test="enroll-button-label">Log Out</span><div class="startdate rc-StartDateString font-xs" data-test="start-date-string"></div></div></span></button>


</div>
</div>
</div>
</div>
</div>
