<body class="page">
  <div class="content">
    <h1>My Slot</h1>
    <div>
      <h1><%= @habitslot.start_time %></h1>
      <p>Completed: <%= @habitslot.completed ? "Yes" : "No" %></p>
    </div>
  </div>
</body>
