
  .carousel-control-prev,
  .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-item blockquote {
    margin-bottom: 2rem;
  }


  .carousel-inner {
    padding-top: 25px;
    padding-bottom: 25px;
  }

.blockquote-footer {
  margin-top: 5px;
  color: white;
}

.blockquote {
  height: 90px;
  overflow: auto;
}


.carousel-div {
  border-radius: 5px;
  background: linear-gradient( 45deg, #9240A4, #EC3344, #FCBA56);
  padding: 24px;
}
