.day-card{
  background: linear-gradient(#e66465, #9198e5);
  list-style: none;
  padding: 16px;
  border-radius: 16px;
  margin-top: 16px;
  width: 150px;
  .star-day {
    padding-left: 280px;
  }
  overflow: hidden;
  align-items: center;
  transition: all 2s ease-in;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.506);
}

ul {
  padding: 0;
}
