.form-container{
  padding-top: 70px;
  padding-left: 24px;
  padding-right: 24px;

}

.colour-picker-flexbox {
  display: flex;
  justify-content: start;
  margin-bottom: 24px;

}

.color-picker-1 {
  margin-right: 1rem;
}

.form-info{
  padding-top: 24px;
}

.weekdays {
  display: flex;
  color: whitesmoke;
  justify-content: space-around;
  align-items: center;
  margin-left: -1.5rem;
  padding-bottom: 8px;
}

.d-none {
  display: none;
}

.wkday-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  background-color: white;
  color: black;
}

.day-checkbox {
  display: none;
}

.day-checkbox:checked + .day-label {
  background: linear-gradient( 45deg, #9240A4, #EC3344, #FCBA56);
}

.pick-color-title {
  padding-top: 24px;
}

.toggle-style {
  padding-top: 24px;
}




input[type="submit"] {
  background: linear-gradient( 45deg, #9240A4, #EC3344, #FCBA56);
  width: 30%; //width
  color: white; //color of text
  border-radius: 8px; //round corners
  margin-bottom: 35px; // space between login button and links at the bottom
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  padding: 4px;

}

.pcr-button {
  border-radius: 50%;
}

.form-inputs input {
  border: 1px solid #ccc;
  border-radius: 5px;
}
