.form-container{
padding: 1rem;
}

.colour-picker-flexbox {
  display: flex;
  justify-content: start;
}

.color-picker-1 {
  margin-right: 1rem;
}

.new-habit-title{
  font-weight: 700;
  color: whitesmoke;
  text-shadow: 1px 1px 2px #333;
}

.weekdays {
  display: flex;
  color: whitesmoke;
  justify-content: space-around;
  align-items: center;
  margin-left: -1.5rem;
}

.d-none {
  display: none;
}

.wkday-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-size: 14px;
  background-color: white;
  color: black;
}

.day-checkbox {
  display: none;
}

.day-checkbox:checked + .day-label {
  background-color: green
}
