.habit-card {
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-top: 16px;
  background-color: #F6F7F8;
  color: black;
  padding: 16px;
  text-align: center;
  padding-top: 36px;
  margin-top: 50px;
}
.habit-card h6 {
  font-family: $headers-font;
  font-weight: 400;
}
