.navbar {
  height: 70px;
  background-color: whitesmoke;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar-icon {
  color: black;
}
