.navbar {
  background-color: black;
  width: 100%;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  border-top: solid white;
}

.navbar a {
  padding-bottom: 8px;
  color: #F6F7F8;
}
