.page{
  background-color: #131313;
  // background-image: url("https://i.pinimg.com/564x/7d/73/b6/7d73b6858eacad1f2144670ce1fb2c46.jpg") ;
  padding: 24px;
  color: whitesmoke;
  height: 900px;
  padding: 0;
}

.content{
  padding: 24px;
}
